.connect {
  background: url('/images/waves.jpg') no-repeat center center fixed;
  background-size: cover;
}

.connect-container {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.connect-card {
  width: 100%;
  padding: 65px;
  background: $c-white;
  text-align: center;
  filter: opacity(70%);


  &__headline {
    margin: 0;
    font-size: 7rem;
    text-transform: uppercase;
  }
}

.connect-card__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;

}

.connect-card__buttons-button {
  align-self: center;
  // width: 100px;
  min-width: 80px;
  // height: 80px;
  transition: 0.1s ease-in-out;

  color: inherit;
  font-size: 40px;

  line-height: 80px;
  text-align: center;
}


.button-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1rem;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: 0.6s ease-out;
  // box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);

  &__text {
    margin: 0;
    font-size: 1.2rem;
  }

  &:hover {
    // background: $c-black;
    // color: $c-white;
    transform: translateY(-20px);
  }

}
