// MIDDLE SECTION (PROJECTS)

.middle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 22rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.grid__item {
  display: flex;
  position: relative;
  flex-basis: calc(100% / 3 - 2rem);
  flex-direction: column;
  flex-grow: 1;
  min-width: 22rem;
  max-width: 22rem;
  min-height: 22rem;
  max-height: 22rem;
  margin: 1rem;
  transition: 0.6s ease-in;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);

  &:hover {
    transform: scale(1.07);
  }

  &:hover img {
    opacity: 0.5;
  }
}

.project-grid__text {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  background: inherit;
  color: $c-black;
  font-size: 2rem;
  text-decoration: none;
  visibility: hidden;

  *:hover > & {
    visibility: visible;
  }
}
